        
.title-name{
    line-height: 80px;
    height: 80px;
    color: #fff;
    background-color: #009EFF;
}
.img-item{
    width: 24%;
    height: 300px;
    border: 1px solid #000;
    margin: 0 5px;
    border-radius: 10px;
}
.product{
    display: flex;
}

.myImg{
    margin: 5px 5px;
}

.myImg img{
    width: 100%;
}